# Python-related files
*.pyc
__pycache__/
*.pyo
*.pyd

# Virtual environments
venv/
env/

# IDE or editor-specific files
.vscode/
.idea/
*.pyc
*.pyo
.mypy_cache/

# Logs and temporary files
logs/
*.log
__pycache__/

# Package and distribution files
dist/
build/
*.egg-info/
*.egg/

# Environment-related files
.env
.env.*

# Other system-specific files
.DS_Store
Thumbs.db
