{% extends "budget/base.html" %}
{% load static %}
{% block content %}

<div class="container">
  <section class="section section-stats">
    <div class="row">
        <div class="col s12 m12 l4">
            <div class="card panel">
                <h6 class="bold">Total Budget</h6>
                <h1 class="bold">${{ project.budget }}</h1>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card panel">
                <h6>Budget Left</h6>
                <h1>${{ project.budget_left }}</h1>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card panel">
                <h6>Total Transactions</h6>
                <h1>{{ project.total_expense }}</h1>
            </div>
        </div>
    </div>
    <a href="{% url 'list' %}" class="btn">Back to projects</a>
  </section>

  <section class="section section-expenses">
    <div class="row">
        <button class="btn waves-effect modal-trigger right" data-target="expenseModel"><i class="material-icons white-text left">add_circle</i>Add Expense</button>
    </div>
    <ul class="z-depth-1">
        {% for expense in expense_list %}
        <li>
            <div class="card-panel z-depth-0">
                <div class="row">
                    <div class="col s6">
                        <span class="title">{{ expense.title }}</span>
                    </div>
                    <div class="col s3">
                        <span class="title">${{ expense.amount }}</span>
                    </div>
                    <div class="col s3">
                        <span class="title bold">{{ expense.category.name }}</span>
                    </div>
                    <a class="colsee" onclick = "deleteE(this)" data-id = "{{expense.id}}"> 
                        <i class="material-icons red-text right">close</i>
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
  </section>
</div>

<div id="expenseModel" class="modal">
    <div class="modal-content">
        <h4>Add Expense</h4>
        <form method="POST" action="{% url 'detail' project.slug %}">
            {% csrf_token %}
            <label for="title">Title</label>
            <input name="title" id="title" type="text">

            <label for="amount">Amount</label>
            <input name="amount" id="amount" type="number">

            <label for="category">Category</label>
            <select name="category" id="category">
                {% for category in category_list %}
                <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn">Add</button>
        </form>
    </div>
</div>

<script>
    
var elems = document.querySelectorAll('.modal');
var instances = M.Modal.init(elems);

var select_elems = document.querySelectorAll('select');
var select_instances = M.FormSelect.init(select_elems);


function deleteE(e) {

    let id = e.dataset.id;
    e.closest('li').remove();

    fetch('', { // Sending a DELETE request
        method: 'DELETE',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}' // Setting the CSRF token in the request headers
        },
        body: JSON.stringify({ // Sending the 'id' as JSON data in the request body
            'id': id
        }),
        credentials: 'same-origin' // Sending cookies along with the request
    });
}
    

</script>

{% endblock %}
