{% extends "layouts/base.html" %}

task1 ={'id':12344321 , 'Why? ':'Saving money ', 'precent':'50%%'}
task1 ={'id':12344321 , 'Why? ':' buying new Phone ', 'precent':'20%%'}

{% block content %}
<h3> wellcome to Budget tracker website , where we can help you SAVE YOUR MONEY ^_^</h3>

<!-- this judt for standing Formatting anf list tags -->
<img src="https://cdn-icons-png.freepik.com/256/2953/2953423.png" >


<form method="post">
    {% csrf_token %} <!-- to protect the data of the form from attackers -->
    <label>Keywords:</label>
    <input type="text" name="keyword" placeholder="enter a keyword"/>
    <br/> 
    <label>Search in:</label>
    <input type="checkbox" name="option1"/><label>Why?</label>
    <input type="checkbox" name="option2"/><label>precent</label>
    <br/>
    
    <button type="submit" >Search</button>


   </form>


{% endblock content %}
