{% extends "layouts/base.html" %}

    
{% block content %}
<h3> wellcome to Budget tracker website , where we can help you SAVE YOUR MONEY ^_^</h3>

<!-- this judt for standing Formatting anf list tags -->
<ul>
    <p>testing unorder list </p>
    <li><p> This text has <b>subtext</b> using b tag</p></li>
    <li><p> This text has <strong>subtext</strong> using strong tag</p></li>
    <li><p> This text has <i>subtext</i> using i tag</p></li>
    <li><p> This text has <em>subtext</em> using em tag</p></li>
    <li><p> This text has <small>subtext</small> using small tag</p></li>
</ul>

<ol>
    <p>testing order list </p>
    <li><p> This text has <mark>subtext</mark> using mark tag</p></li>
    <li><p> This text has <del>subtext</del> using del tag</p></li>
    <li><p> This text has <ins>subtext</ins> using ins tag</p></li>
    <li><p> This text has X<sub>subtext</sub> using sub tag</p></li>
    <li><p> This text has X<sup>subtext</sup> using sup tag</p></li>
</ol>


{% endblock content %}
